body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;
    /* overflow-x: hidden; */
}

* {
    box-sizing: border-box;
  }
h1{
    font-size: 5.62em;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;


}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
     
}
a:hover{
    color: #EAF6F6;
}

.start{
    background-color: #E6DDC4;
    position: relative;
    padding-top:100px ;

}
.copy-right{
    color: #11999E;
    font-size: 0.75rem;
    padding: 20px 0 ;
}



.midcon{
    margin: 100px 0 100px;
    
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
.botcon{
    background-color: #E6DDC4;
    padding: 50px 0 20px;
   
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.propic{
    height: 120px;

}
.computericon{
    height: 300%;
    width: 30%;
    float: left;
    margin-right: 30px;
}
.toolspic{
    height: 300%;
    width: 30%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 30%;
    margin:100px auto 100px auto;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    text-align: left;
    line-height: 2;
}
/* .skill-describ{
    clear: left;
}
.tools-parag{
    clear: right;
} */
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
p{
    font-size: 1.6em;
}
.contact-message{
    width: 40%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
 @media only screen and (min-width:480px){
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

    h1{
        font-size: 3em;
        margin: 50px auto 0 auto;
        font-family: 'Sacramento', cursive;
        color: #66BFBF;
    
    
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
    }
    .start{
        display: flex;
        justify-content: space-around;
       
    }
    .mountain{
        width: 100%;
        
    }
    .propic{
        height: 80px;
    
    }
    p{
        font-size: 1em;
    }


    .computericon{
        height: 30vh;
        width: 30vw;
        /* float: left;
        margin-right: 30px; */
    }
    .para{
        position: absolute;
        right:3% ;
    }
    .toolspic{
        height: 30vh;
        width: 30vw;
    }
    
  } 
